@import './variables.css';

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  line-height: var(--line-height);
  color: var(--color-text);
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-heading);
  text-align: center;
  color: var(--color-text);
}

h2 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
